<div mat-dialog-content class="example-card">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{book.ds_title}}</mat-card-title>
            <mat-card-subtitle>{{book.ds_author}}</mat-card-subtitle>
        </mat-card-header>
        <div class="div-img">
            <img mat-card-image class="img-sm" src="{{book.ds_img}}">
        </div>
        <mat-card-content>
            <p class="text-synopsis">
                {{book.tx_synopsis}}
            </p>
        </mat-card-content>
        <mat-error *ngIf="hasError">
            <strong>{{errorMsg}}</strong>
          </mat-error>
        <button mat-stroked-button color="primary" class="btn-block" (click)="getLoan()">Get Loan</button>
    </mat-card>
</div>